.logo{
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.text-center{
  text-align: center;
}

.btn-new-game{
  background-color:rgb(30, 113, 158) ;
  color: white;
  border: none;
  padding: 10px 60px;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 20px;
}

.container{
  display: block;
  margin: 10px auto;
  width: fit-content;
  background-color:rgb(89, 119, 147);
  padding: 15px;
  border-radius: 10px;

}

.text{
  color: rgb(5, 111, 169);
 
}

.row{
  display: flex;
  justify-content: center;
}

.box{
  height: 90px;
  width:90px;
  background-color:white;
  border: 1px dashed rgb(141, 203, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.box:hover{
  cursor: pointer;
  background-color: aliceblue;
  box-shadow: 0 0 5px 2px rgb(141, 203, 242);
  transition: 0.5s;
  z-index: 100;
}

.player-container{
  display: flex;
  position: relative;
  justify-content: space-around;
 

}
.player1{
  position:absolute;
  top:200px;
  left: 300px;
}
.player2{
  position: absolute;
  top:200px;
  right:300px;
}

.player-text{
  font-size: 20px;
  border: 1px solid rgb(34, 147, 217);
 padding: 8px 15px;
 border-radius: 10px;
 background-color:rgb(202, 234, 254) ;
}
.winner-text{
  color:rgb(237, 0, 36);
}
